@media screen and (min-width: 300px) and (min-height: 450px) {
    * {
        transition: all 300ms ease-in-out;
    }

    nav li#current_tab, ion-icon {
        perspective: 300;
        transform: translateZ(1vmin);
    }
}