body {
    background-color: hsla(0, 0%, 0%, 1);
    color: hsla(0, 0%, 75%, 1);
}

#theme_icon, nav li {
    background-color: hsla(340, 95%, 50%, .5);
}

@media screen and (max-width: 299px), (max-height: 449px) {
    header {
        background-color: hsla(340, 90%, 40%, .75);
    }
}

@media screen and (min-width: 300px) and (min-height: 450px) {
    header {
        background-image: linear-gradient(to bottom, hsla(340, 90%, 70%, .5), hsla(340, 90%, 70%, .4), hsla(340, 90%, 70%, .25), hsla(340, 90%, 70%, .075));
        box-shadow: 0 0 1vmin 0 hsla(0, 0%, 25%, 1);
    }

    #content_box {
        background-image:  linear-gradient(to top left, hsla(0, 0%, 25%, .25), hsla(0, 0%, 25%, 0));
    }

    nav li {
        box-shadow: .15vmin .1vmin .15vmin 0 hsla(0, 0%, 25%, 1);
    }

    #theme_icon, nav li {
        background-color: hsla(0, 0%, 0%, 0);
        background-image: linear-gradient(to top left, hsla(340, 50%, 40%, .5), hsla(340, 70%, 45%, .05));
    }

    #current_tab {
        background-color: hsla(0, 0%, 0%, 0);
        box-shadow: 0 -.4vmin .2vmin .2vmin hsla(0, 0%, 25%, 1);
        background-image: linear-gradient(to bottom right, hsla(340, 50%, 40%, .5), hsla(340, 50%, 40%, 0.1), hsla(340, 50%, 40%, 0));
    }

    ion-icon, #content_box{
        box-shadow: .3vmin .3vmin .3vmin 0 hsla(0, 0%, 25%, 1);
    }
}