* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav, #theme_icon {
    position: absolute;
    bottom: 1vh;
    left: 5vw;
}

#theme_icon {
    right: 5vw;
}

nav li {
    display: inline;
}

header {
    width: 100vw;
    z-index: 100;
}

#content_box {
    width: 100vw;
}

@media screen and (min-width: 300px) and (min-height: 450px) {
    header {
        height: 33vh;
        position: fixed;
    }

    header h1 {
        padding-left: 2.5vw;
        margin-top: 11vh;
    }
    
    nav {
        width: 66vw;
        height: 5vh;
        padding: 0 14vw;
        padding-right: 0;
        left: 0;
    }
    
    #theme_icon {
        padding: .4vh .5vw;
        margin: .5vh 4vw;
        right: 0;
    }
    
    nav li {
        padding: 0 .5vw;
    }
    
    #content_box {
        height: 61.5vh;
        position: fixed;
        top: 33vh;
        left: 14vw;
        margin: .5vh 2.5vw 5vh 0;
        padding: 2.5vmin 2vmin;
        width: 83.5vw;
        overflow: auto;
    }
}