body {
    padding: 12px 0;
}

header, .nav, .intro, .highlight, .new, .nav li {
    display: flex;
    flex-wrap: wrap;
}

header, .highlight {
    justify-content: space-between;
}

.intro, .new {
    justify-content: center;
}

header {
    padding: 0 12px;
}

.nav {
    flex-wrap: wrap;
    gap: 36px;
    list-style: none;
    padding: 8px 0;
}

ion-icon {
    border-radius: 50%;
    padding: 8px;
}

.label {
    align-self: center;
    padding: 4px;
}

.image {
    flex: 0 0 auto;
    align-self: center;
}

.text {
    padding: 24px;
    flex: 1 1 auto;
    width: 360px;
}

h2 {
    margin-bottom: 24px;
}

.spotlight {
    padding: 24px;
}

.highlight {
    gap: 24px;
}

.card {
    width: 180px;
    height: 240px;
    flex: 0 0 auto;
}

.new {
    flex-direction: row-reverse;
}

.new li {
    list-style-type: none;
}

footer {
    padding: 12px;
}
