body {
    background-color: hsla(47, 95%, 90%, 1);
    color:  hsla(0, 0%, 0%, 1);
}

@media screen and (max-width: 299px), (max-height: 449px) {
    header {
        background-color: hsla(300, 50%, 35%, 1);
    }
}

@media screen and (min-width: 300px) and (min-height: 450px) {
    header {
        background-image: linear-gradient(to bottom, hsla(300, 50%, 35%, 1), hsla(300, 50%, 35%, .95), hsla(300, 50%, 35%, .85), hsla(300, 50%, 35%, .7), hsla(300, 50%, 35%, .5), hsla(300, 50%, 35%, .15));
    }

    #content_box {
        background-image:  linear-gradient(to top left, hsla(0, 0%, 30%, .1), hsla(0, 0%, 30%, 0)), linear-gradient(to top left, hsla(47, 85%, 88%, 1), hsla(47, 95%, 90%, 1));
    }
}