*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

html::-webkit-scrollbar{
    width: 0;
}