html{
    background-color: #b39977;
}

header, footer {
    background-color: #342519;
}

.spotlight {
    background-color: #735237;
}

.card, .entry, .head {
    border-color: #b39977;
}

header, header a, .spotlight, .spotlight a, .spotlight h2 {
    color: #ede6d9;
}

footer {
    color: #b39977;
}

.text {
    color: #735237;
}

.text a {
    color:#342519;
}

h2 {
    color: #342519;
}

code {
    color: darkslategray;
}
