html{
    background-color: #b39977;
}

header, footer {
    background-color: #342519;
}

.spotlight {
    background-color: #735237;
}

header, .spotlight h2 {
    color: #ede6d9;
}

footer {
    color: #b39977;
}

.text {
    color: #735237;
}

h2 {
    color: #342519;
}