html {
    font-size: 125%;
}

body {
    font-family: sans-serif;
}

header {
    background-image: linear-gradient(to bottom, hsla(265, 50%, 35%, 1), hsla(265, 50%, 35%, .95), hsla(265, 50%, 35%, .85), hsla(265, 50%, 35%, .7), hsla(265, 50%, 35%, .5), hsla(265, 50%, 35%, 0));
}

header h1 {
    font-size: 4.2rem;
}

#content_box {
    border-bottom: solid 2px slategray;
    border-radius: 0% 0% 2% 2% / 0% 0% 5% 5%;
}

#theme_icon {
    font-size: 1.75rem;
    border-radius: 10%;
    border: solid 2px slategray;
}

nav li {
    border-bottom: solid 2px dimgray;
    font-size: 1.5rem;
    font-weight: bold;
}

nav li#current_tab {
    border-radius: 10% 10% 0% 0% / 40% 40% 0% 0%;
    border: solid 2px dimgray;
    border-bottom: none;
}

#content_box>main {
    display:none;
}

#content_box>main#current_cont {
    display:block; 
}