header {
    border-radius: 0% 0% 1.5% 1.5% / 0% 0% 5% 5%;
}

ion-icon {
    border-radius: 10%;
    border: solid 1px dimgray;
}    

nav li {
    border-right: solid 1px dimgray;
}

#content_box>main {
    display:none;
}    

#content_box>main#current_cont {
    display:block; 
}    

#blog_release {
    font-weight: bold;
    font-size: 75%;
}

@media screen and (max-width: 299px) and (max-height: 449px) {
    * {
        letter-spacing: 50%;
        word-spacing: 50%;
        line-height: 90%;
    }

    header {
        border-radius: 0% 0% 8% 8% / 0% 0% 20% 20%;
    }
}

@media screen and (min-width: 300px) and (min-height: 450px) {
    html {
        font-size: 130%;
    }
    
    #content_box {
        border-radius: 2% 2% 2% 2% / 5% 5% 5% 5%;
    }
    
    nav li {
        font-weight: bold;
        border-radius: 5% 5% 0% 0% / 20% 20% 0% 0%;
    }
    
    #current_tab {
        border-radius: 10% 10% 0% 0% / 40% 40% 0% 0%;
        border: solid 1px dimgray;
        border-bottom: none;
    }
}

@media screen and (min-width: 1150px) {
    header {
        font-size: 175%;
    }
}